body{
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
 
}
:root{
  --text-color:#000000;
  --background-color:#FFFFFF;
  --white-20:#949494;
}

/* Dark mode variables */
.dark-mode {
  --background-color: black;
  --text-color: white;
}
.switch{
  background-color: var(--background-color);
  color: var(--text-color);
}